<div class="container">
    {{#if requestFriendsInfo}}
        <ul id="requests-container" class="list-group requests">
            {{#each requestFriendsInfo}}
                <li class="list-group-item" user_id="{{this.id}}">
                    <p style="color:inherit">{{this.id}} {{this.username}}</p>
                    <button type="button" class="btn btn-success" onclick='acceptFriendRequest("{{this.id}}")'>Accept</button>
                    <button type="button" class="btn btn-danger" onclick='rejectFriendRequest("{{this.id}}")'>Reject</button>
                </li>
            {{/each}}
        </ul>
    {{else}}
        No friend requests
    {{/if}}
</div>
<script src="/public/js/friendsrequests.js"></script>