{{>navbar page="groups" subpage="invitations"}}

<div class="container">
    {{#if inviteGroupsInfo}}
        <ul id="invitations-container" class="list-group requests">
            {{#each inviteGroupsInfo}}
                <li class="list-group-item" group_id="{{this.id}}">
                    <p style="color:inherit">{{this.id}} {{this.name}}</p>
                    <button type="button" class="btn btn-success" onclick='acceptGroupInvitation("{{this.id}}")'>Accept</button>
                    <button type="button" class="btn btn-danger" onclick='rejectGroupInvitation("{{this.id}}")'>Reject</button>
                </li>
            {{/each}}
        </ul>
    {{else}}
        No group invitations
    {{/if}}
</div>

<script src="/public/js/groupinvitations.js"></script>

{{>errormodal
  id="invalid-invitation"
  title="Invalid Group Invitation!"
  text="You cannot accept or reject this group invitation since it does not exist anymore! Fat RIP!"
}}
